* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body,
html {
    text-transform: uppercase;
    font-family: Mogra, sans-serif;
    color: #7DC9D4;
}

#gameText {
    margin-top: 1em;
    font-size: 85px;
    text-align: center;
}

#naruto-text {
    color: #FA9427;
}

.maincontainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div > img {
    width: 350px;
    height: auto;
}

#game-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.gamebtn {
    line-height: 0;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin-top: 90px;
}

button {
    width: 250px;
    height: 250px;
    background-color: white;
}

img {
    width: 174px;
    height: auto;
    overflow: hidden;
    z-index: -10;
}

.elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    color: #FA9427;
}


#resetBtn {
    border: 5px solid #3D3D3D;
    border-radius: 15px;
    padding: 5px;
    font-size: 25px;
    font-family: Mogra, sans-serif;
    background-color: #FA9427;
    color: white;
}

.allBtns {
    height: 65px;
    width: 180px;
}

button:hover {
    border: 2px solid #FA9427;
    border-radius: 50%;
}

button:focus {
    border: 2px solid #FA9427;
    border-radius: 50%;
}

#resetBtn:hover {
     background-color: #3D3D3D;
}

.scorearea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.score {
    font-size: 35px;
    padding: 10px;
    margin-right: 5em;
    margin-left: 5em;
}

#player-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #FA9427;
}

#ai-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #FA9427;
}