* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body,
html {
    text-transform: uppercase;
    font-family: Mogra, sans-serif;
    color: white;
}

body {
    background-image: url("../images/naruto.png");
    background-color: #3D3D3D;
    width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    z-index: -10;
  }

#gameText {
    margin-top: 1em;
    font-size: 85px;
    text-align: center;
}

#naruto-text {
    color: #FA9427;
}

.maincontainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-container {
    text-align: center;
    margin-top: 5%;
    margin: 40px;
}

.img-container {
    width: 227px;
    height: 225px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-block;
    
}

#water-box {
    background-image: url('../images/water.png');
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
}

#fire-box {
    background-image: url('../images/fire.png');
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
}

#wind-box {
    background-image: url('../images/wind.png');
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
}

#earth-box {
    background-image: url('../images/earth.png');
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
}

#lightning-box {
    background-image: url('../images/lightning.png');
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
}

.img-container button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin-top: 90px;
}

.elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    color: #FA9427;
    margin-top: 25px;
}


#resetBtn {
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px;
    font-size: 25px;
    font-family: Mogra, sans-serif;
    background-color: #FA9427;
    color: white;
}

.allBtns {
    height: 65px;
    width: 180px;
}

button:hover {
    border: 3px solid #FA9427;
    border-radius: 50%;
}

button:focus {
    border: 3px solid #FA9427;
    border-radius: 50%;
}

#resetBtn:hover {
     background-color: #3D3D3D;
}

.scorearea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.score {
    font-size: 35px;
    padding: 10px;
    margin-right: 5em;
    margin-left: 5em;
}

#player-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #FA9427;
}

#ai-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #FA9427;
}